/*通用*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;

}
body {
  margin: 0;
}


.body_T_tiao{
  line-height: 10px;
  width: 1500px;
  background-color: #c6c6c6;
  flex-direction: row;
  justify-content: space-between;
}

.body_T_tiao span{
  font-size: 40px;
  margin: 50px 20px;

}