<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.interview.dao.ResultMapper">
  <insert id="insert">
    INSERT INTO result (id, user_login_id, examination_id, exam_score)
    VALUES (#{id}, #{userLoginId}, #{examinationId}, #{examScore});
  </insert>
  <select id="listByUserId" resultType="com.interview.entity.Result">
    SELECT *
    FROM result
    WHERE user_login_id = #{userId}
  </select>
  <select id="listByUserIdAndExaminations" parameterType="map" resultType="com.interview.entity.Result">
    SELECT *
    FROM result
    WHERE user_login_id = #{userId} AND examination_id IN
    <foreach collection="examinationIdList" item="examinationId"
             open="(" separator="," close=")">
      #{examinationId}
    </foreach>
    ORDER BY id DESC
    LIMIT #{resultNumber}
  </select>
</mapper>