<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.interview.dao.TopicMapper">
  <insert id="insert">
    INSERT INTO topic (id, typeId, title, referenceAnswer)
    VALUES (#{id}, #{typeId}, #{title}, #{referenceAnswer});
  </insert>
</mapper>
